FLASK_SECRET_KEY=change-me-in-production
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?appName=<appName>
MONGODB_DATABASE=first_project
MONGODB_COLLECTION=submissions
FLASK_PORT=5000
CORS_ORIGINS=http://localhost:3000
